.App {
  text-align: center;
}

html{
  background-color: green;
}
.container-fluid{
  background-color: green;
  

}
input[type="text"]{
  background: transparent;
  color: white;
}
input[type="text"]:focus{
  background: transparent;
  color: white;
  
  


}
.max{
  margin-left: 20px;
  
}
.sumo{
  width: 10%;
  background-color: red;
  color: white; 
  border-radius: 6px; 
  margin-left: 20px;
  
}
.deep{
  display: flex;
}

.shadow{
  display:flex;
  align-items: center;
  justify-content: flex-start;
  width: -webkit-fill-available;
}
.kumar{
  background-color: red;
  color: white;
  border-radius: 6px;
  width: 10%;
  margin-left: 20px;
  
}
.daye{
  margin-left: 40px;
  border-radius: 10px;
  background-color: blue;
  color: white; 
}

